name: Mirror to Remote Repository

on:
  push:
    branches:
      - '**'  # Trigger on all branches
  workflow_dispatch: # Allow manual trigger

jobs:
  mirror:
    uses: ./.github/workflows/mirror-reusable.yml
